.navbar {
  display: flex;
  justify-content: space-between;
}

.header {
  background-image: url('./images/logo-og.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 45vw;
}

.header div {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 70px;
  width: 30vw;
  color: white;
}

.header div h1 {
  font-size: 50px;
}

.header div p {
  width: 20vw;
}

.header div button {
  width: 10vw;
  padding: 10px;
  border-radius: 30px;
  margin-top: 30px;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}



.article img {
  width: 120px;
}

.article p {
  width: 15vw;
}

